html, body {
    --background-color: #121212;
    --navbar-color: #000000;
    --primary-text-color: #E0E0E0;
    --secondary-text-color: #B0B0B0;
    --accent-color-1: #BB86FC;
    --accent-color-2: #03DAC6;
    --link-color: #8AB4F8;
    --button-background-color: #333333;
    --button-text-color: #FFFFFF;
    --border-color: #444444;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

a {
     color: var(--primary-text-color);
}

#global-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
}
#global-grid {
    display: grid;
    grid-template-rows: 10% 90%;
    flex: 1;
    height: 100%;
}



#icon {
    background-image: url("../assets/icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 210px;
    margin: 10px;
}
#search-bar {
    margin: 10px;
    color: var(--primary-text-color);
    background-color: var(--navbar-color);
    border: none;
    border-bottom: 1px solid var(--primary-text-color);
    min-width: 15%;
}
#search-bar:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--primary-text-color);
}

#avatar {
    background-color: var(--accent-color-1);
    padding: 12px 16px;
    border-radius: 20px;
    margin: 10px;
}