html,
body {
  --background-color: #1f1f1f;
  --navbar-color: #000000;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --accent-color-1: #bb86fc;
  --accent-color-2: #03dac6;
  --link-color: #8ab4f8;
  --button-background-color: #333333;
  --button-text-color: white;
  --border-color: #444444;
  --error-color: red;

  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Arial", sans-serif;
  font-size: large;
}

a {
  color: var(--link-color);
}

button:active {
  opacity: 0.8;
}

#global-grid {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100%;
}

#rankings-grid {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.ranking-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 200px;
  width: 250px;
  border-radius: 10%;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--navbar-color);
}

.bottom-container:hover {
  background-color: var(--border-color);
}

.invalid {
  border: 2px solid var(--error-color);
}
.input-field:focus-visible {
  outline: none;
}

.error-field {
  color: var(--error-color);
  font-size: small;
  cursor: pointer;
}
.invisible {
  display: none;
}
