html,
body {
  --background-color: #1f1f1f;
  --navbar-color: #000000;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --accent-color-1: #bb86fc;
  --accent-color-2: #03dac6;
  --link-color: #8ab4f8;
  --button-background-color: #333333;
  --button-text-color: white;
  --border-color: #444444;
  --error-color: red;
  --see-through: rgba(255, 0, 0, 0);

  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Arial", sans-serif;
  font-size: x-large;
}

a {
  color: var(--link-color);
}

button:active {
  opacity: 0.8;
}

#global-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#rankings-grid {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}
#main {
  display: flex;
  flex: 9;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.ranking-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 200px;
  width: 100%;
  max-width: 250px;
  border-radius: 10%;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--navbar-color);
}

.bottom-container:hover {
  background-color: var(--border-color);
}

.invalid {
  border: 2px solid var(--error-color);
}

.input-field {
  font-size: x-large;
  background-color: var(--see-through);
  color: var(--primary-text-color);
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid var(--primary-text-color);
  &:focus-visible {
    outline: none;
  }
}


.error-field {
  color: var(--error-color);
  font-size: small;
  cursor: pointer;
}
.invisible-permanent {
  display: none !important;
}
.invisible {
  display: none;
}
.invisible-space {
  visibility: hidden;
}
.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color-2);
  color: white;
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 7px;
  min-height: 25%;
  padding: 10px;
  cursor: pointer;
  max-width: 140px;
}
