html, body {
    --background-color: #121212;
    --navbar-color: #000000;
    --primary-text-color: #E0E0E0;
    --secondary-text-color: #B0B0B0;
    --accent-color-1: #BB86FC;
    --accent-color-2: #03DAC6;
    --link-color: #8AB4F8;
    --button-background-color: #333333;
    --button-text-color: white;
    --border-color: #444444;
    --error-color: red;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Arial', sans-serif;
}

a {
     color: var(--link-color);
}

button:active {
    opacity: 0.8;
}

#global-grid {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
}
#rankings-grid {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px;
}

.ranking-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    max-width: 300px;
    border-radius: 10%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 100%;
    background-color: var(--navbar-color);
}

.bottom-container:hover {
    background-color: var(--border-color);
}

.invalid {
    border: 2px solid var(--error-color) !important;
}
.invalid:focus-visible {
    border: 2px solid var(--error-color) !important;
}
.input-field {
    border: 2px solid var(--button-text-color);
}
.input-field:focus-visible {
    border: 2px solid var(--button-text-color);
}

.error-field {
    color: var(--error-color);
}
.invisible {
    visibility: hidden;
}