html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    color: white;


}

a {
     color: white;
 }