#login-main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}
#labels {
    flex-direction: column;
    display: flex;
    gap: 9px;
}
#inputs {
    flex-direction: column;
    display: flex;
    gap: 5px;
}
#actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}