#ranking-grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 100%;
}

#ranking {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 20%;
    margin: 15%;
    border-radius: 10%;
    background-color: var(--navbar-color);;
}