#header {
  margin: 20px;
}

#no-ranking-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 70%;
  font-size: x-large;
}

.username {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 10px;
}

.username:hover {
  color: var(--link-color);
  text-decoration: underline;
}
