#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
}
#icon {
    background-image: url("../assets/icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 210px;
    margin: 10px;
}
#search-bar {
    margin: 10px;
    color: var(--primary-text-color);
    background-color: var(--navbar-color);
    border: none;
    border-bottom: 1px solid var(--primary-text-color);
    min-width: 15%;
}
#search-bar:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--primary-text-color);
}

#avatar {
    background-color: var(--accent-color-1);
    padding: 12px 16px;
    border-radius: 20px;
    margin: 10px;
}