#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color);
  flex: 1;
  height: 100px;
}

#icon {
  margin: 15px;
  height: 60%;
  cursor: pointer;
}

#search-bar {
  margin: 20px;
  color: var(--primary-text-color);
  background-color: var(--navbar-color);
  border: none;
  border-bottom: 1px solid var(--primary-text-color);
  min-width: 15%;
  font-size: x-large;
}

#search-bar:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--primary-text-color);
}

#avatar {
  background-color: var(--accent-color-1);
  padding: 12px 18px;
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
}

#new-ranking-button img {
  margin-right: 8px;
  width: 17px;
  height: 17px;
  object-fit: contain;
}

#login-button {
  width: 100px;
  margin-right: 20px;
}

#right-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#drop-down {
  position: absolute;
}

.drop-down-item {
  border: 1px solid var(--primary-text-color);
  cursor: pointer;
  z-index: 1;
}
