#no-ranking-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    font-size: x-large;
}

#profile-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}


#display-name, #display-name-label {
    font-weight: bold;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: 30px;
    border: none;
    gap: 20px;
}

#description {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: 16px;
    border: none;
    gap: 20px;
}

.edit-icon {
    content: url('../assets/edit-icon.png');
    width: 15px;
    height: 15px;
    cursor: pointer;
}