#ranking-preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px;
}

.ranking-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    border-radius: 10%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
}

.bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 100%;
    background-color: var(--navbar-color);
}