#no-ranking-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80%;
    font-size: x-large;
}

#header {
    margin: 20px;
}

#description {
    margin: 20px;
}

#dateCreated {
    margin: 20px;
}