#no-ranking-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60%;
    font-size: x-large;
}

#profile-container {
    margin: 20px;
}