#ranking-container {
  display: flex;
  flex-direction: column;
}
#ranking-description {
  gap: 10px;
}

#title {
  background-color: var(--navbar-color);
  outline: 3px solid var(--primary-border-color);
  color: var(--primary-text-color);
  padding: 0;
  font-size: xxx-large;
}
#description {
  background-color: var(--navbar-color);
  outline: 2px solid var(--primary-border-color);
  color: var(--primary-text-color);
  resize: none;
  height: 100px;
  padding: 0;
  font-size: x-large;
}

#title:disabled,
#description:disabled {
  background-color: var(--see-through);
  cursor: not-allowed;
}

.tire-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.add-tire-container {
  cursor: pointer;
}
.tire-items-container {
  display: flex;
  flex-direction: row;
  flex: 8;
  border: 1px solid gray;
  background-color: black;
  flex-wrap: wrap;
}
.tire-item-container {
  background-color: #1c1c1c;
  outline: 1px solid gray;
  flex-direction: column;
  display: flex;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #1d2436;
  }
}
.tire-item-utils {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5px;
  justify-content: end;
  align-items: end;
  width: 100%;
}
.tire-item-name-container {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.tire-item-name-field {
  text-align: center;
  resize: none;
  flex: 1;
  background-color: black;
  color: var(--primary-text-color);
  outline: none;
  border: 2px solid var(--primary-border-color);
  font-size: x-large;
  &:disabled {
    color: var(--secondary-text-color);
    pointer-events: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: not-allowed;
  }
}
.tire-utils {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5px;
  justify-content: end;
  align-items: end;
  width: 100%;
}
.tire-name-container {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.tire-name-field {
  text-align: center;
  resize: none;
  flex: 1;
  background-color: black;
  color: var(--primary-text-color);
  outline: none;
  border: 2px solid var(--primary-border-color);
  font-size: x-large;
  &:disabled {
    color: var(--secondary-text-color);
    pointer-events: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: not-allowed;
  }
}
#tire-name-display {
  outline: 1px solid gray;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #595959;
  }
}

.tire-add-item-container {
  background-color: #101010;
}

.edit-icon {
  content: url("../assets/edit-icon.png");
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  cursor: pointer;
}
.trash-icon {
  content: url("../assets/trash-icon.png");
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  cursor: pointer;
}
.brush-icon {
  content: url("../assets/brush-icon.png");
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  cursor: pointer;
}

#delete-ranking {
  color: var(--error-color);
}
