#ranking-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

#ranking-grid {
    display: grid;
    width: 50%;
    margin: 0 auto;
    text-align: center;    
}

.grid-item {
    border: 1px solid var(--border-color);
    padding: 15%;
    word-wrap: break-word;
}

.color-item {
    border: 1px solid var(--border-color);
    color: var(--background-color);
    font-weight: bold;
    padding-top: 30%;
    word-wrap: break-word;
}

#delete-ranking {
    color: var(--error-color);
}

#delete-ranking:hover {
    color: var(--error-color);
    text-decoration: underline;
    cursor: pointer;
}

#edit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: small;
    border: none;
    border-radius: 7px;
    min-height: 25%;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}

#save-button:active {
    opacity: 0.7;
}