#ranking-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

#ranking-grid {
    display: grid;
    width: 50%;
    margin: 0 auto;
    text-align: center;    
}

.grid-item {
    border: 1px solid var(--border-color);
    padding: 15%;
    word-wrap: break-word;
}

.color-item {
    border: 1px solid var(--border-color);
    color: var(--background-color);
    font-weight: bold;
    padding: 30%;
    word-wrap: break-word;
}

#delete-ranking {
    color: var(--error-color);
}

#delete-ranking:hover {
    color: var(--error-color);
    text-decoration: underline;
    cursor: pointer;
}