#ranking-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

#ranking-grid {
    display: grid;
    min-width: 50%;
    margin: 0 auto;
}

.item-container {
    border: 1px solid var(--border-color);
    padding: 30px;
    text-align: center;
    position: relative;
}

.drop-down-container {
    position: absolute;
    top: 12px;
    right: 0px;
    z-index: 1;
}

.ranking-drop-down-icon {
    width: 15px;
    height: 15px;
}

.ranking-drop-down-item {
    background-color: var(--border-color);
    cursor: pointer;
}

.ranking-drop-down-item:hover {
    background-color: var(--accent-color-2);
}

.grid-item {
    color: var(--primary-text-color);
    background-color: transparent;
    border: none;
    text-align: center;
}

.color-item {
    border: 1px solid var(--border-color);
    color: var(--background-color);
    text-align: center;
    font-weight: bold;
}

#delete-ranking {
    color: var(--error-color);
}

#delete-ranking:hover {
    color: var(--error-color);
    text-decoration: underline;
    cursor: pointer;
}

#edit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: small;
    border: none;
    border-radius: 7px;
    min-height: 25%;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}