#ranking-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

#ranking-grid {
    display: grid;
    justify-content: start;
    border: 1px solid var(--border-color);
}

.grid-item {
    border: 1px solid var(--border-color);
}