#register-main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}
#labels {
    flex-direction: column;
    display: flex;
    gap: 9px;
}
#inputs {
    flex-direction: column;
    display: flex;
    gap: 5px;
}
#actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-area {
    font-size: x-large;
    background-color: var(--see-through);
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
    &:focus-visible {
        outline: none;
    }
    width: 262px;
    height: 100px;
}
